{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="light" class="bg-gray-400">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FW-BLOCK {% block sub_title %}{% endblock sub_title %}{% endblock title %}</title>


    {% tailwind_css %}
    {% block css %}{% endblock css %}
</head>
<body class="h-screen">
    <header class="w-full">
        {% if user.is_authenticated %}
        {% include "includes/navbar.html" %}
        {% endif %}
        {% block header %}
        {% endblock header %}
    </header>
    <section>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </section>
    <main class="p-6 w-screen">
        {% block main %}{% endblock main %}
    </main>
    {% block js %}{% endblock js %}
</body>
</html>