{% extends "base.html" %}

{% load static %}

{% block sub_title %}- Desbloquear{% endblock sub_title %}

{% block css %}
 <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}">
 <link rel="stylesheet" href="{% static "select/select.css" %}">
{% endblock css %}

{% block main %}

    <section class="bg-white sm:grid grid-cols-2 sm:h-[480px] shadow-md rounded-md">
        {% if ip.latitude and ip.longitude %}
        <article class="">
            <div class="">
                <div class="map-div rounded-md h-32 sm:h-[480px]" data-latitude="{{ ip.latitude }}" data-longitude="{{ ip.longitude }}">
            </div>
        </article>
        {% endif %}
        <article class=" flex flex-col">
            <div class="w-full flex flex-col justify-center items-center">
                {% include "includes/ip_details.html" %}
            </div>
            <form action="{% url "unblock" ip.ip %}" method="POST" class="flex flex-col justify-center items-center p-8 gap-4">

                {% csrf_token %}
    
                <input type="hidden" name="ip" value="{{ ip.ip }}">
    
                <select class="hidden" id="select-firewalls" name="firewalls" id="firewall-select" placeholder="Seleccione los firewalls" autocomplete="off" required multiple>
                    {% for firewall in firewalls %}
    
                        <option value="{{ firewall.id }}">{{ firewall.name }}</option>
    
                    {% endfor %}

                </select>

                <input class="btn btn-success text-white" type="submit" value="Desbloquear">
            </form>

        </article>
    </section>
{% endblock main %}

{% block js %}
<script src="{% static "leaflet/leaflet.js" %}"></script>
<script src="{% static "select/select.js" %}"></script>
<script src="{% static "initializeMaps.js" %}"></script>
<script src="{% static "initializeSelects.js" %}"></script>
<script src="{% static "details.js" %}"></script>

{% endblock js %}