{% extends "base.html" %}

{% block sub_title %}- Inicio{% endblock sub_title %}

{% block main %}

{% if messages %}

    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>

{% endif %}

<form action="{% url "search" %}" method="GET">
    {{ form.ip }}
    <input type="submit" value="Buscar">
</form>

<div id="result">

    <ul>
        {% for ip in ips %}
            <li>
                <h2>{{ ip.ip }}</h2>
                <p>País: {{ ip.country }}</p>
                <p>Estado: {{ ip.region }}</p>
                <p>Ciudad: {{ ip.city }}</p>
                <p>ASN: {{ ip.asn }}</p>
                <p>Organización: {{ ip.organization }}</p>

                <p>Bloqueado en:</p>
                {% for firewall in ip.blocked_in_firewalls %} <p>{{ firewall.name }}</p> {% endfor %}

                <a href="{% url "unblock" ip.ip %}">Desbloquear</a>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock main %}