{% extends "base.html" %}

{% block sub_title %}- Busqueda{% endblock sub_title %}

{% block main %}

    <section>
        <h2>{{ ip.ip }}</h2>
        <p>País: {{ ip.country }}</p>
        <p>Estado: {{ ip.region }}</p>
        <p>Ciudad: {{ ip.city }}</p>
        <p>ASN: {{ ip.asn }}</p>
        <p>Organización: {{ ip.organization }}</p>

        <form action="{% url "block" %}" method="POST">

            {% csrf_token %}

            <input type="hidden" name="ip" value="{{ ip.ip }}">

            <select name="firewalls" id="firewall-select" multiple>
                {% for firewall in firewalls %}

                    <option value="{{ firewall.id }}">{{ firewall.name }}</option>

                {% endfor %}
            </select>

            <input class="btn btn-primary" type="submit" value="Bloquear">

        </form>
    </section>

{% endblock main %}