{% extends "base.html" %}

{% load static %}

{% block sub_title %}- Busqueda{% endblock sub_title %}

{% block css %}
 <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}">
 <link rel="stylesheet" href="{% static "tom-select/tom-select.css" %}">
{% endblock css %}

{% block main %}

    <section class="bg-white sm:grid grid-cols-2 sm:h-[480px]">
        {% if ip.latitude and ip.longitude %}
        <article class="">
            <div class="">
                <div class="map-div h-32 sm:h-[480px]" data-latitude="{{ ip.latitude }}" data-longitude="{{ ip.longitude }}">
            </div>
        </article>
        {% endif %}
        <article class="">
            <div class="w-full flex flex-col justify-center items-center">
                {% include "includes/ip_details.html" %}
            </div>
    
            <form action="{% url "block" %}" method="POST" class="p-8 flex flex-col gap-8">
    
                {% csrf_token %}
    
                <input type="hidden" name="ip" value="{{ ip.ip }}">
    
                <select class="w-full" id="select-firewalls" name="firewalls" id="firewall-select" placeholder="Seleccione donde bloquear" autocomplete="off" multiple>
                    {% for firewall in firewalls %}
    
                        <option value="{{ firewall.id }}">{{ firewall.name }}</option>
    
                    {% endfor %}
                </select>
    
                <input class="btn btn-error" type="submit" value="Bloquear">
    
            </form>
        </article>
    </section>

{% endblock main %}

{% block js %}
<script src="{% static "leaflet/leaflet.js" %}"></script>
<script src="{% static "initializeMaps.js" %}"></script>
<script src="{% static "tom-select/tom-select.js" %}"></script>
<script src="{% static "search.js" %}"></script>

{% endblock js %}