{% extends "base.html" %}

{% block sub_title %}- Desbloquear{% endblock sub_title %}

{% block main %}

    <section>

        <h2>{{ ip.ip }}</h2>
        <p>País: {{ ip.country }}</p>
        <p>Estado: {{ ip.region }}</p>
        <p>Ciudad: {{ ip.city }}</p>
        <p>ASN: {{ ip.asn }}</p>
        <p>Organización: {{ ip.organization }}</p>

        <form action="{% url "unblock" ip.ip %}" method="POST">

            {% csrf_token %}

            <select name="firewalls" id="firewall-select" multiple>
                {% for firewall in firewalls %}

                    <option value="{{ firewall.id }}">{{ firewall.name }}</option>

                {% endfor %}
            </select>

            <input class="btn btn-success" type="submit" value="Confirmar">

        </form>
    </section>

{% endblock main %}