{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="light" class="bg-gray-400">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FW-BLOCK - Login</title>

  {% tailwind_css %}
</head>
<body class="">
  <main class="flex items-center justify-center p-6">
    <section class="shadow-md rounded-lg p-8 bg-gray-50 flex flex-col justify-center items-center">
      <h1 class="text-2xl font-bold mx-auto mb-8">Cambio de contraseña</h1>

      <ul class="text-sm text-gray-500 list-disc">
        <li class="">Su contraseña no puede asemejarse tanto a su usuario.</li>
        <li class="">Su contraseña debe contener al menos 8 caracteres.</li>
        <li class="">Su contraseña no puede ser una clave utilizada comúnmente.</li>
        <li class="">Su contraseña no puede ser completamente numérica.</li>
      </ul>

      <form method="post" action="{% url 'password_change' %}" class="w-full flex flex-col justify-center items-center gap-4">
        {% csrf_token %}

        <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Contraseña actual</span>
            </div>
            <input placeholder="****************" class="input input-bordered w-full" type="password" name="old_password" autocomplete="current-password" required />
        </label>

        <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Nueva contraseña</span>
            </div>
            <input placeholder="****************" class="input input-bordered w-full" type="password" name="new_password1" autocomplete="new-password" required />
        </label>

        <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Confirme su nueva contraseña</span>
            </div>
            <input placeholder="****************" class="input input-bordered w-full" / type="password" name="new_password2" autocomplete="new-password" required>
        </label>

        
        
        {% if form.errors %}
        
          <ul class="text-sm text-red-500">
            {% for key, value in form.errors.items  %}
            <li>{{ value }}</li>
            {% endfor %}
          </ul>
        
        {% endif %}
        

        <div class="">
          <button class="btn btn-success text-white" type="submit">Confirmar</button>
          <a href="{% url 'index' %}" class="btn btn-error text-white">Cancelar</a>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </section>
  </main>
</body>
</html>